@charset "UTF-8";


div {
    width: 200px;
    height: 200px;
    margin: 100px;
    border: 1px solid black;
    /* transform: translate(20px, 20px); */
    /* transform: rotate(1deg); */
    /* transform: scale(1.5); */
    /* transform: skew(24deg) */
    /* transform: matrix(scale(x,y), skewy, skewx, scaleY, tranlst X, Tranls Y) ; */
    transform-origin: 0% 0%;
}