@charset "UTF-8";


body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.cabecalho {
    grid-area: header;
}

.principal {
    grid-area: main;
}

.lateral {
    grid-area: aside;
}

.rodape {
    grid-area: footer;
}

#container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    grid-template-areas: 
        "header header header header"
        "main main . aside"
        "footer footer footer footer"
    ;
    /* column-gap: 15px;
    row-gap: 15px; */
    /* gap: 10px; */
    border: 1px solid black;   
}

/* .area {
    grid-area: 1 / 1 / 3 / 3;
} */

/* .item01 {
    grid-column-start: 1;
    grid-column-end: 4;
} */

.elemento {
    grid
    background-color: #048;
    color: white;
    border: 1px solid black;
    text-align: center;
}